.status {
    color: #333;
}
.evaluate-btn {
    background-color: rgb(55,171,104);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.evaluate-btn:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
}
.cart-item {
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}
.item-info {
    flex: 1;
}
.item-info h3 {
    margin: 0;
    font-size: 16px;
}
.item-info p {
    font-size: 14px;
    color: #777;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
.header h1 {
    text-align: center;
    margin: 20px 0;
    color: rgb(55,171,104);
}