<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!--    xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
<!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"-->
<!--         version="4.0">-->


    <servlet><!--某个特定的 URL 请求应该由哪个 Servlet 来处理-->
    <servlet-name>Servlet</servlet-name>
    <servlet-class>controller.individual.Servlet</servlet-class><!--包括包名的全名-->
    </servlet>
    <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <!--        当用户请求 http://your-domain/view/LoginServlet 时，Web 容器会调用 LoginServlet 进行处理-->
    <url-pattern>/view/Servlet</url-pattern>
    </servlet-mapping>
</web-app>

